{{#if wrongLogin}}
<h3>Wrong credentials</h3>
{{/if}}

<form name="login" method="post" action="">
    <input type="text" name="email" placeholder="email" value="jones.godel@gmail.com">
    <input type="text" name="password" placeholder="pass" value="aaa">
    <input type="submit" value="login"/>
</form>